<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<h2>Movies:</h2>
<ul>
  <% for movie in @category.movies do %>
    <li><%= link_to movie.title, movie_path(movie)  %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
